<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="contact-box">
            <h2>Contact Us</h2>
            <input type="text" id="contact_name" class="form-control" placeholder="Your Name" required />
            <input type="email" id="contact_email" class="form-control" placeholder="Your Email" required />
            <textarea class="form-control" id="contact_message" placeholder="Your Message" rows="4" required></textarea>
            <button type="button" class="btn btn-submit" onclick="SendWhatsappMessage()">Send Message</button>
        </div>
    </div>
    <div class="col-4"></div>

</div>